.NewCourseForm {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px;
  border-radius: 4px;
  max-width: 800px;
}

.NewCourseForm h1 {
  text-align: center;
  margin-bottom: 20px;
}

.NewCourseForm .course-data  {
  margin-bottom: 16px;
  border: 1px  Solid #4caf50;
  padding: 8px;
}

.NewCourseForm label {
  margin-bottom: 8px;
}

.NewCourseForm input[type="text"],
.NewCourseForm input[type="number"],
.NewCourseForm select,
.NewCourseForm textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.NewCourseForm input[type="file"] {
  margin-top: 8px;
}

.NewCourseForm button {
  padding: 8px 16px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 16px;
}

.NewCourseForm button[type="button"] {
  background-color: #36c8f4;
  margin-left: 8px;
}

.NewCourseForm .section-container {
  padding: 16px;
  margin-bottom: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.NewCourseForm .section-container label {
  font-weight: bold;
}

.NewCourseForm .section-container input[type="text"],
.NewCourseForm .section-container input[type="number"],
.NewCourseForm .section-container textarea {
  width: 100%;
  margin-bottom: 8px;
}

.NewCourseForm .section-container button {
  margin-top: 8px;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
}

.NewCourseForm .section-container h4 {
  margin-top: 16px;
}

@media (max-width: 768px) {
  .NewCourseForm {
    width: 100%;
    padding: 10px;
  }

  .NewCourseForm button {
    padding: 6px 12px;
  }
}
