.header {
  display: flex;
  align-items: center;
  background-color: rgb(225, 221, 215);
  border: #818181 solid 3px;
  padding: 10px; 
}



.instructor {
  display: flex;
  align-items: center;
}

.profileImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  margin-right: 20px;
  margin-left: 200px;
}

.instructorInfo {
  display: flex;
  flex-direction: column;
}

.nameContainer {
  display: flex;
  align-items: center;
}

.name {
  margin-right: 10px;
}

.rating {
  display: flex;
  align-items: center;
}

.stars {
  margin-right: 5px;
}

.ratingValue {
  margin-right: 5px;
}

.addCourseBtn {
  background-color: blue;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  width: 250px;
  border-radius: 8px;
  margin-left: 500px;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  left: 25px;
  font-size: 36px;
  margin-right: 50px;
}

.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
  float: right;
}

#main {
  transition: margin-right 0.5s;
  padding: 16px;
}

.open {
  width: 250px !important;
  right: 250px;
}

.margin {
  margin-right: 100px !important;
}

@media (max-width: 768px) {
  .instructor {
    flex-direction: row;
  }

  .profileImage {
    margin-right: 10px;
  }
}

@media (max-width: 576px) {
  .sidebar {
    width: 250px;
  }

  .openbtn {
    display: block;
  }

  #main {
    margin-right: 250px;
  }

  .open {
    width: 250px !important;
    right: 250px;
  }

  .margin {
    margin-right: 250px !important;
  }
}

/* styles.module.css */

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
}

/* Style the tab */
.tab {
  float: left;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 300px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 22px 16px;
  width: 100%;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: blue;
}


.tabcontent {
  float: left;
  padding: 0px 12px;
  border: 1px solid #7b7979;
  width: 80%;
  border-left: none;
  height: 900px;
}

/* CourseInfoCard.module.css */

.card {
  display: flex;
  flex-wrap: wrap;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
}

.imageContainer {
  width: 200px;
  height: 200px;
  margin-right: 16px;
}

.courseImage {
  width: 100%;
  height: auto;
  border-radius: 4px;
}

.content {
  flex: 1;
}

.rating {
  color: goldenrod;
  margin-bottom: 8px;
}

.star {
  display: inline-block;
}

.courseName {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.status,
.duration,
.students,
.price {
  margin-bottom: 4px;
}

.buttons {
  display: flex;
}

.editButton,
.deleteButton,
.duplicateButton {
  padding: 8px 16px;
  margin-right: 8px;
  border: none;
  background-color: #f1f1f1;
  color: #333;
  border-radius: 4px;
  cursor: pointer;
}

/* Add media queries for responsive layout */
@media (max-width: 768px) {
  .card {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
    margin-right: 0;
   
  }
}
