/************ Banner Css ************/


.banner {
    margin-top: 0;
    padding: 260px 0 100px 0;
    background-color: #ededed61;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    margin-bottom: 5rem;

  }
  .banner .tagline {
    font-weight: 700;
    letter-spacing: 0.8px;
    padding: 8px 10px;
    font-size: 20px;
    margin-bottom: 16px;
    display: inline-block;
    color: #0071DC;
  }
  .banner h1 {
    font-size: 50px;
    font-weight: 600;
    letter-spacing: 0.8px;
    line-height: 1;
    margin-bottom: 20px;
    display: block;
    color: black;
  }
  .banner p {
    color: #B8B8B8;
    font-size: 18px;
    letter-spacing: 0.8px;
    line-height: 1.5em;
    width: 96%;
  }
  .banner button {
    color: #030303;
    font-weight: 700;
    font-size: 20px;
    margin-top: 60px;
    letter-spacing: 0.8px;
    display: flex;
    align-items: center;
  }
  .banner button svg {
    font-size: 25px;
    margin-left: 10px;
    transition: 0.3s ease-in-out;
    line-height: 1;
    color: black;
  }
  .banner button:hover svg {
    margin-left: 25px;
  }
  .banner img {
    width:45rem;
    position: relative;
    right: 10%;
    
  }
  
  @media (max-width:1200px) {
      .banner img {
      width:35rem;
      position: absolute;
      left:8rem;
      top: 0%;
          } 
    .banner h1 {
      font-size: 35px;
      font-weight: 300;
      letter-spacing: 0.5px;
      line-height: 1;
      margin-bottom: 15px;
    }
  }
  Form input{
    height: 60px;
  }
  @media (max-width:800px) {
    .banner img {
    width:20rem;
    position: absolute;
    left:22rem;
    top: 20rem;
    
    } }